torch
torchvision
torchaudio
transformers
datasets
accelerate
scikit-learn
scipy
numpy
pandas
matplotlib
seaborn
jupyter
notebook
ipykernel
tqdm
faiss-cpu
sentence-transformers
einops
opencv-python
Pillow
captum
wfdb
neurokit2
imbalanced-learn
openpyxl